In [50]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("first").getOrCreate()

df=spark.read.csv("D:\Study\Centillion\Pyspark\Datasets\Piece_Dimension.csv",header=True,inferSchema=True)

df.show()

+-------+------+-----+------+--------+
|Item_No|Length|Width|Height|Operator|
+-------+------+-----+------+--------+
|      1|102.67|49.53| 19.69|    Op-1|
|      2| 102.5|51.42| 19.63|    Op-1|
|      3| 95.37|52.25| 21.51|    Op-1|
|      4| 94.77|49.24|  18.6|    Op-1|
|      5|104.26| 47.9| 19.46|    Op-1|
|      6|105.18|49.39| 20.36|    Op-1|
|      7| 97.35|48.05| 20.22|    Op-1|
|      8| 99.35|44.59| 21.03|    Op-1|
|      9| 90.62|47.29| 19.78|    Op-1|
|     10| 97.22|52.14| 20.71|    Op-1|
|     11| 100.0|54.76| 20.62|    Op-1|
|     12| 97.23|48.26| 19.51|    Op-1|
|     13|105.72|50.04| 20.06|    Op-1|
|     14| 89.82|45.98|  20.3|    Op-1|
|     15| 99.17|53.54| 20.25|    Op-1|
|     16| 95.51|45.36| 20.52|    Op-1|
|     17|107.69|48.18| 19.33|    Op-1|
|     18|106.83|50.81| 19.12|    Op-1|
|     19| 98.73|55.76| 19.37|    Op-1|
|     20| 94.31|48.74|  18.8|    Op-1|
+-------+------+-----+------+--------+
only showing top 20 rows

In [51]:
df.printSchema()

root
 |-- Item_No: integer (nullable = true)
 |-- Length: double (nullable = true)
 |-- Width: double (nullable = true)
 |-- Height: double (nullable = true)
 |-- Operator: string (nullable = true)

In [52]:
df.columns

['Item_No', 'Length', 'Width', 'Height', 'Operator']

In [76]:
#single column
print(df.select("Height"))

#multiple columns
print(df.select(["Height","Width","Length"]))

DataFrame[Height: double]
DataFrame[Height: double, Width: double, Length: double]

In [54]:
print(df.dtypes)

df.describe().show()

[('Item_No', 'int'), ('Length', 'double'), ('Width', 'double'), ('Height', 'double'), ('Operator', 'string')]
+-------+-----------------+-----------------+------------------+------------------+--------+
|summary|          Item_No|           Length|             Width|            Height|Operator|
+-------+-----------------+-----------------+------------------+------------------+--------+
|  count|              500|              500|               500|               500|     500|
|   mean|            250.5|99.76913999999987|          49.93288|20.293219999999977|    NULL|
| stddev|144.4818327679989| 4.10747125377661|2.1138197115994304|1.0517178578425912|    NULL|
|    min|                1|            87.52|             42.74|             17.37|    Op-1|
|    max|              500|            116.6|             58.26|             23.39|    Op-9|
+-------+-----------------+-----------------+------------------+------------------+--------+

In [55]:
#Adding a column in a dataframe
df=df.withColumn("Total Dimension",df.Height+df.Width+df.Length)
df.show()

+-------+------+-----+------+--------+------------------+
|Item_No|Length|Width|Height|Operator|   Total Dimension|
+-------+------+-----+------+--------+------------------+
|      1|102.67|49.53| 19.69|    Op-1|            171.89|
|      2| 102.5|51.42| 19.63|    Op-1|            173.55|
|      3| 95.37|52.25| 21.51|    Op-1|            169.13|
|      4| 94.77|49.24|  18.6|    Op-1|            162.61|
|      5|104.26| 47.9| 19.46|    Op-1|            171.62|
|      6|105.18|49.39| 20.36|    Op-1|            174.93|
|      7| 97.35|48.05| 20.22|    Op-1|            165.62|
|      8| 99.35|44.59| 21.03|    Op-1|            164.97|
|      9| 90.62|47.29| 19.78|    Op-1|            157.69|
|     10| 97.22|52.14| 20.71|    Op-1|            170.07|
|     11| 100.0|54.76| 20.62|    Op-1|            175.38|
|     12| 97.23|48.26| 19.51|    Op-1|             165.0|
|     13|105.72|50.04| 20.06|    Op-1|            175.82|
|     14| 89.82|45.98|  20.3|    Op-1|             156.1|
|     15| 99.17|53.54| 20.25|    Op-1|172.95999999999998|
|     16| 95.51|45.36| 20.52|    Op-1|            161.39|
|     17|107.69|48.18| 19.33|    Op-1|             175.2|
|     18|106.83|50.81| 19.12|    Op-1|            176.76|
|     19| 98.73|55.76| 19.37|    Op-1|            173.86|
|     20| 94.31|48.74|  18.8|    Op-1|161.85000000000002|
+-------+------+-----+------+--------+------------------+
only showing top 20 rows

In [56]:
#Dropping a column
df=df.drop("Operator")
df.show()

+-------+------+-----+------+------------------+
|Item_No|Length|Width|Height|   Total Dimension|
+-------+------+-----+------+------------------+
|      1|102.67|49.53| 19.69|            171.89|
|      2| 102.5|51.42| 19.63|            173.55|
|      3| 95.37|52.25| 21.51|            169.13|
|      4| 94.77|49.24|  18.6|            162.61|
|      5|104.26| 47.9| 19.46|            171.62|
|      6|105.18|49.39| 20.36|            174.93|
|      7| 97.35|48.05| 20.22|            165.62|
|      8| 99.35|44.59| 21.03|            164.97|
|      9| 90.62|47.29| 19.78|            157.69|
|     10| 97.22|52.14| 20.71|            170.07|
|     11| 100.0|54.76| 20.62|            175.38|
|     12| 97.23|48.26| 19.51|             165.0|
|     13|105.72|50.04| 20.06|            175.82|
|     14| 89.82|45.98|  20.3|             156.1|
|     15| 99.17|53.54| 20.25|172.95999999999998|
|     16| 95.51|45.36| 20.52|            161.39|
|     17|107.69|48.18| 19.33|             175.2|
|     18|106.83|50.81| 19.12|            176.76|
|     19| 98.73|55.76| 19.37|            173.86|
|     20| 94.31|48.74|  18.8|161.85000000000002|
+-------+------+-----+------+------------------+
only showing top 20 rows

In [57]:
df=df.withColumnRenamed("Total Dimension","Sum Dimension")
df.show()

+-------+------+-----+------+------------------+
|Item_No|Length|Width|Height|     Sum Dimension|
+-------+------+-----+------+------------------+
|      1|102.67|49.53| 19.69|            171.89|
|      2| 102.5|51.42| 19.63|            173.55|
|      3| 95.37|52.25| 21.51|            169.13|
|      4| 94.77|49.24|  18.6|            162.61|
|      5|104.26| 47.9| 19.46|            171.62|
|      6|105.18|49.39| 20.36|            174.93|
|      7| 97.35|48.05| 20.22|            165.62|
|      8| 99.35|44.59| 21.03|            164.97|
|      9| 90.62|47.29| 19.78|            157.69|
|     10| 97.22|52.14| 20.71|            170.07|
|     11| 100.0|54.76| 20.62|            175.38|
|     12| 97.23|48.26| 19.51|             165.0|
|     13|105.72|50.04| 20.06|            175.82|
|     14| 89.82|45.98|  20.3|             156.1|
|     15| 99.17|53.54| 20.25|172.95999999999998|
|     16| 95.51|45.36| 20.52|            161.39|
|     17|107.69|48.18| 19.33|             175.2|
|     18|106.83|50.81| 19.12|            176.76|
|     19| 98.73|55.76| 19.37|            173.86|
|     20| 94.31|48.74|  18.8|161.85000000000002|
+-------+------+-----+------+------------------+
only showing top 20 rows

In [58]:
#drops rows with null values
df=df.na.drop()  

#drops rows with any null values
df.na.drop(how='any')  

#drops rows with all null values
df.na.drop(how='all')

#drops rows with less than 2 non-null values
df.na.drop(how="any", thresh=2)  

#drops rows with null values in specific columns
df.na.drop(how="any", subset=["Height"])

#fills all null values with "No Value"
df.na.fill("No Value").show()

+-------+------+-----+------+------------------+
|Item_No|Length|Width|Height|     Sum Dimension|
+-------+------+-----+------+------------------+
|      1|102.67|49.53| 19.69|            171.89|
|      2| 102.5|51.42| 19.63|            173.55|
|      3| 95.37|52.25| 21.51|            169.13|
|      4| 94.77|49.24|  18.6|            162.61|
|      5|104.26| 47.9| 19.46|            171.62|
|      6|105.18|49.39| 20.36|            174.93|
|      7| 97.35|48.05| 20.22|            165.62|
|      8| 99.35|44.59| 21.03|            164.97|
|      9| 90.62|47.29| 19.78|            157.69|
|     10| 97.22|52.14| 20.71|            170.07|
|     11| 100.0|54.76| 20.62|            175.38|
|     12| 97.23|48.26| 19.51|             165.0|
|     13|105.72|50.04| 20.06|            175.82|
|     14| 89.82|45.98|  20.3|             156.1|
|     15| 99.17|53.54| 20.25|172.95999999999998|
|     16| 95.51|45.36| 20.52|            161.39|
|     17|107.69|48.18| 19.33|             175.2|
|     18|106.83|50.81| 19.12|            176.76|
|     19| 98.73|55.76| 19.37|            173.86|
|     20| 94.31|48.74|  18.8|161.85000000000002|
+-------+------+-----+------+------------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import Imputer

#fills null values with mean value of the column
imputer=Imputer(inputCols=["Height","Width","Length"],outputCols=["Height","Width","Length"]).setStrategy("mean")
imputer.fit(df).transform(df).show()

+-------+------+-----+------+------------------+
|Item_No|Length|Width|Height|     Sum Dimension|
+-------+------+-----+------+------------------+
|      1|102.67|49.53| 19.69|            171.89|
|      2| 102.5|51.42| 19.63|            173.55|
|      3| 95.37|52.25| 21.51|            169.13|
|      4| 94.77|49.24|  18.6|            162.61|
|      5|104.26| 47.9| 19.46|            171.62|
|      6|105.18|49.39| 20.36|            174.93|
|      7| 97.35|48.05| 20.22|            165.62|
|      8| 99.35|44.59| 21.03|            164.97|
|      9| 90.62|47.29| 19.78|            157.69|
|     10| 97.22|52.14| 20.71|            170.07|
|     11| 100.0|54.76| 20.62|            175.38|
|     12| 97.23|48.26| 19.51|             165.0|
|     13|105.72|50.04| 20.06|            175.82|
|     14| 89.82|45.98|  20.3|             156.1|
|     15| 99.17|53.54| 20.25|172.95999999999998|
|     16| 95.51|45.36| 20.52|            161.39|
|     17|107.69|48.18| 19.33|             175.2|
|     18|106.83|50.81| 19.12|            176.76|
|     19| 98.73|55.76| 19.37|            173.86|
|     20| 94.31|48.74|  18.8|161.85000000000002|
+-------+------+-----+------+------------------+
only showing top 20 rows

In [70]:
df.filter("Height > 22").show()

+-------+------+-----+------+-------------+
|Item_No|Length|Width|Height|Sum Dimension|
+-------+------+-----+------+-------------+
|     23|108.45|44.46| 22.31|       175.22|
|     33| 95.53|53.83| 23.11|       172.47|
|     54|100.37|54.75| 22.51|       177.63|
|     59|104.35|47.09| 22.03|       173.47|
|     74|113.45|46.96| 23.31|       183.72|
|    106|111.07|51.19| 22.17|       184.43|
|    118| 100.9|54.87| 22.73|        178.5|
|    123|113.73|54.77| 22.13|       190.63|
|    127| 116.6|53.81| 23.39|        193.8|
|    132|107.27|50.35| 22.83|       180.45|
+-------+------+-----+------+-------------+

In [72]:
df.filter("height>22").select(["Width","height"]).show()

+-----+------+
|Width|height|
+-----+------+
|44.46| 22.31|
|53.83| 23.11|
|54.75| 22.51|
|47.09| 22.03|
|46.96| 23.31|
|51.19| 22.17|
|54.87| 22.73|
|54.77| 22.13|
|53.81| 23.39|
|50.35| 22.83|
+-----+------+

In [78]:
df.filter((df["height"] > 22) & (df["Width"] > 50)).show()

+-------+------+-----+------+-------------+
|Item_No|Length|Width|Height|Sum Dimension|
+-------+------+-----+------+-------------+
|     33| 95.53|53.83| 23.11|       172.47|
|     54|100.37|54.75| 22.51|       177.63|
|    106|111.07|51.19| 22.17|       184.43|
|    118| 100.9|54.87| 22.73|        178.5|
|    123|113.73|54.77| 22.13|       190.63|
|    127| 116.6|53.81| 23.39|        193.8|
|    132|107.27|50.35| 22.83|       180.45|
+-------+------+-----+------+-------------+

In [ ]:
#inverse filter
df.filter(~(df["height"]>18.5)).show()

+-------+------+-----+------+------------------+
|Item_No|Length|Width|Height|     Sum Dimension|
+-------+------+-----+------+------------------+
|     27| 95.69|49.48| 17.37|            162.54|
|     36|101.86|50.45| 18.05|            170.36|
|     82| 92.19| 47.4| 18.04|            157.63|
|     83|  98.0|46.31| 18.39|             162.7|
|     88|102.05|46.51| 17.97|166.52999999999997|
|     89|101.53|46.05|  18.2|            165.78|
+-------+------+-----+------+------------------+

In [107]:
#groupby
df.groupBy("Height").count().show(10)

+------+-----+
|Height|count|
+------+-----+
| 19.98|    1|
| 20.49|    1|
| 21.52|    1|
| 20.21|    2|
| 18.78|    3|
| 18.62|    1|
| 18.88|    2|
| 21.72|    1|
| 21.89|    1|
| 22.83|    1|
+------+-----+
only showing top 10 rows

In [106]:
df.groupBy("Height").max().show(10)

+------+------------+-----------+----------+-----------+------------------+
|Height|max(Item_No)|max(Length)|max(Width)|max(Height)|max(Sum Dimension)|
+------+------------+-----------+----------+-----------+------------------+
| 19.98|          41|     100.57|     53.52|      19.98|            174.07|
| 20.49|         362|      94.17|     49.14|      20.49|             163.8|
| 21.52|          67|     100.51|     47.86|      21.52|            169.89|
| 20.21|         321|     102.34|     48.54|      20.21|            169.61|
| 18.78|         313|     101.95|     51.05|      18.78|            170.95|
| 18.62|         300|      102.1|     52.19|      18.62|            172.91|
| 18.88|         324|     102.43|      53.0|      18.88|            174.31|
| 21.72|         332|      97.87|     48.76|      21.72|            168.35|
| 21.89|         430|      96.84|     50.75|      21.89|169.48000000000002|
| 22.83|         132|     107.27|     50.35|      22.83|            180.45|
+------+------------+-----------+----------+-----------+------------------+
only showing top 10 rows

In [108]:
df.groupBy("Height").mean().show(10)

+------+-----------------+-----------------+------------------+-----------+------------------+
|Height|     avg(Item_No)|      avg(Length)|        avg(Width)|avg(Height)|avg(Sum Dimension)|
+------+-----------------+-----------------+------------------+-----------+------------------+
| 19.98|             41.0|           100.57|             53.52|      19.98|            174.07|
| 20.49|            362.0|            94.17|             49.14|      20.49|             163.8|
| 21.52|             67.0|           100.51|             47.86|      21.52|            169.89|
| 20.21|            236.0|          100.935|              47.8|      20.21|           168.945|
| 18.78|276.3333333333333|97.20666666666666| 50.31999999999999|      18.78|166.30666666666667|
| 18.62|            300.0|            102.1|             52.19|      18.62|            172.91|
| 18.88|            319.0|           99.805|50.489999999999995|      18.88|           169.175|
| 21.72|            332.0|            97.87|             48.76|      21.72|            168.35|
| 21.89|            430.0|            96.84|             50.75|      21.89|169.48000000000002|
| 22.83|            132.0|           107.27|             50.35|      22.83|            180.45|
+------+-----------------+-----------------+------------------+-----------+------------------+
only showing top 10 rows

In [ ]:
#aggregate functions
print(df.agg({'Height':'Sum'}).show())
print(df.agg({'Width':'Mean'}).show())
print(df.agg({'Item_No':'count'}).show())

+------------------+
|       sum(Height)|
+------------------+
|10146.609999999988|
+------------------+

None
+----------+
|avg(Width)|
+----------+
|  49.93288|
+----------+

None
+--------------+
|count(Item_No)|
+--------------+
|           500|
+--------------+

None