In [3]:
import os
import sys


os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("CountExample").getOrCreate()

numbers=[1,2,3,4,5]
rdd=spark.sparkContext.parallelize(numbers)

print(rdd.collect())

[1, 2, 3, 4, 5]

In [4]:
data=[("Ram",34),("Sam",36),("Arun",30),("vikram",29)]
rdd=spark.sparkContext.parallelize(data)

print(rdd.collect())

print(rdd.count())

print(rdd.first())

[('Ram', 34), ('Sam', 36), ('Arun', 30), ('vikram', 29)]
4
('Ram', 34)

In [5]:
taken=rdd.take(2)
print(taken)

[('Ram', 34), ('Sam', 36)]

RDD Transformations

In [6]:
mapped_rdd=rdd.map(lambda x: (x[0].upper(), x[1]))
print(mapped_rdd.collect())

[('RAM', 34), ('SAM', 36), ('ARUN', 30), ('VIKRAM', 29)]

In [7]:
filtered_rdd=rdd.filter(lambda x: x[1]>35)
print(filtered_rdd.collect())

[('Sam', 36)]

In [8]:
sorted_rdd=rdd.sortBy(lambda x: x[1])
print(sorted_rdd.collect())

[('vikram', 29), ('Arun', 30), ('Ram', 34), ('Sam', 36)]