In [2]:
import pyspark
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("MyApp").getOrCreate()

spark

In [3]:
df_spark=spark.read.csv("D:\Study\Centillion\Pyspark\Datasets\Piece_Dimension.csv")
df_spark.show()

+-------+------+-----+------+--------+
|    _c0|   _c1|  _c2|   _c3|     _c4|
+-------+------+-----+------+--------+
|Item_No|Length|Width|Height|Operator|
|      1|102.67|49.53| 19.69|    Op-1|
|      2| 102.5|51.42| 19.63|    Op-1|
|      3| 95.37|52.25| 21.51|    Op-1|
|      4| 94.77|49.24|  18.6|    Op-1|
|      5|104.26| 47.9| 19.46|    Op-1|
|      6|105.18|49.39| 20.36|    Op-1|
|      7| 97.35|48.05| 20.22|    Op-1|
|      8| 99.35|44.59| 21.03|    Op-1|
|      9| 90.62|47.29| 19.78|    Op-1|
|     10| 97.22|52.14| 20.71|    Op-1|
|     11|   100|54.76| 20.62|    Op-1|
|     12| 97.23|48.26| 19.51|    Op-1|
|     13|105.72|50.04| 20.06|    Op-1|
|     14| 89.82|45.98|  20.3|    Op-1|
|     15| 99.17|53.54| 20.25|    Op-1|
|     16| 95.51|45.36| 20.52|    Op-1|
|     17|107.69|48.18| 19.33|    Op-1|
|     18|106.83|50.81| 19.12|    Op-1|
|     19| 98.73|55.76| 19.37|    Op-1|
+-------+------+-----+------+--------+
only showing top 20 rows

Inorder to get the column name instead of c0,c1,etc, we can use spark.read.option method.

In [4]:
df_spark=spark.read.option("header","true").csv("D:\Study\Centillion\Pyspark\Datasets\Piece_Dimension.csv")
df_spark.show()

+-------+------+-----+------+--------+
|Item_No|Length|Width|Height|Operator|
+-------+------+-----+------+--------+
|      1|102.67|49.53| 19.69|    Op-1|
|      2| 102.5|51.42| 19.63|    Op-1|
|      3| 95.37|52.25| 21.51|    Op-1|
|      4| 94.77|49.24|  18.6|    Op-1|
|      5|104.26| 47.9| 19.46|    Op-1|
|      6|105.18|49.39| 20.36|    Op-1|
|      7| 97.35|48.05| 20.22|    Op-1|
|      8| 99.35|44.59| 21.03|    Op-1|
|      9| 90.62|47.29| 19.78|    Op-1|
|     10| 97.22|52.14| 20.71|    Op-1|
|     11|   100|54.76| 20.62|    Op-1|
|     12| 97.23|48.26| 19.51|    Op-1|
|     13|105.72|50.04| 20.06|    Op-1|
|     14| 89.82|45.98|  20.3|    Op-1|
|     15| 99.17|53.54| 20.25|    Op-1|
|     16| 95.51|45.36| 20.52|    Op-1|
|     17|107.69|48.18| 19.33|    Op-1|
|     18|106.83|50.81| 19.12|    Op-1|
|     19| 98.73|55.76| 19.37|    Op-1|
|     20| 94.31|48.74|  18.8|    Op-1|
+-------+------+-----+------+--------+
only showing top 20 rows

In [6]:
print(df_spark.printSchema())

df_spark.head(5)

root
 |-- Item_No: string (nullable = true)
 |-- Length: string (nullable = true)
 |-- Width: string (nullable = true)
 |-- Height: string (nullable = true)
 |-- Operator: string (nullable = true)

None

[Row(Item_No='1', Length='102.67', Width='49.53', Height='19.69', Operator='Op-1'),
 Row(Item_No='2', Length='102.5', Width='51.42', Height='19.63', Operator='Op-1'),
 Row(Item_No='3', Length='95.37', Width='52.25', Height='21.51', Operator='Op-1'),
 Row(Item_No='4', Length='94.77', Width='49.24', Height='18.6', Operator='Op-1'),
 Row(Item_No='5', Length='104.26', Width='47.9', Height='19.46', Operator='Op-1')]

In [7]:
df2=spark.read.option("header","true").option("inferSchema","true").csv("D:\Study\Centillion\Pyspark\Datasets\Piece_Dimension.csv")
df2.printSchema()

root
 |-- Item_No: integer (nullable = true)
 |-- Length: double (nullable = true)
 |-- Width: double (nullable = true)
 |-- Height: double (nullable = true)
 |-- Operator: string (nullable = true)